<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Agenda de tareas</h1>
    <a href="{{ url_for('get_tasks') }}">Ver tareas</a>

    <div>
        <form action="{{ url_for('add_task') }}" method="post">
            <label for="task">Tarea:</label>
            <input type="text" id="task" name="task" required>
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required></textarea>
            <button type="submit">Crear</button>
        </form>
    </div>
</body>

</html>